# NODE_ENV="production"

SCRAPER_LOGGING_LEVEL="info"

# MYSQL / MARIADB
MYSQL_USER="admin"
MYSQL_PASSWORD="admin"
MYSQL_DATABASE="instagram_scraper"
MYSQL_ROOT_PASSWORD="admin"

PMA_HOST="mariadb"
PMA_PORT=3306

# POSTGRESQL
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
POSTGRES_DB="instagram_scraper"

PGADMIN_LISTEN_ADDRESS="0.0.0.0"
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"

# TYPEORM
TYPEORM_CONNECTION_NAME="mysql"

# MINIO
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="minioadmin"

AWS_ENDPOINT_URL="http://localhost:9000"
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="minioadmin"
AWS_BUCKET_NAME="instagram-scraper"