{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "import"
    ],
    "rules": {
        "comma-dangle": "off",
        "import/prefer-default-export": "off",
        "import/no-default-export": "error",
        "linebreak-style": ["error", "unix"]
    }
}
